<!-- app/views/movies/new.html.erb -->

<h2>
  Add a new movie
</h2>

<form action="/movies" method="post" data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <!-- ... -->

  <button>
    Create movie
  </button>
</form>
